@import url('https://fonts.googleapis.com/css2?family=Poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  z-index: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  align-items: center;
}

h1 {
  font-size: larger;
  font-weight: bold;
}

.sidebar {
  width: 200px;
  height: 90%;
  border-radius: 0.8rem;
  border-width: 6px;
  border-color: rgba(75,85,99,255);
}

.sidebar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.location {
  border-radius: 0 0rem 0rem 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
